
div {
     
         background: rgb(245,249,253); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmNWY5ZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyNiUiIHN0b3AtY29sb3I9IiNkOWU0ZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(245,249,253,1) 10%, rgba(217,228,241,1) 26%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(245,249,253,1)), color-stop(26%,rgba(217,228,241,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,249,253,1) 10%,rgba(217,228,241,1) 26%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,249,253,1) 10%,rgba(217,228,241,1) 26%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,249,253,1) 10%,rgba(217,228,241,1) 26%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(245,249,253,1) 10%,rgba(217,228,241,1) 26%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9fd', endColorstr='#d9e4f1',GradientType=0 ); /* IE6-8 */

     margin:0;
   height:102mm;
     width:114mm;
     margin-top:-4mm;
     margin-left:2mm;
  
}


p {
    margin-top:7mm;
    width:114mm;
    border-bottom:hidden;
    margin-left:2mm;
}
.frontborder {
     width:119mm;
    height:118mm;
   margin-top:25px;
   margin-left:100px;
 
   background-color:rgb(236,242,248)
    
}

form {
   
    width:110mm;
    height:100mm;
    padding-left:3mm;
    padding-top:6mm;
    
    
}
table, input{
   color: darkblue ;

}
 #bold, #rowspan {
   font-size:x-large;
}

p, div, .table1, #textarea, #left, input[type=button], #frontborder {
    border: 1px solid rgb(180,194,209);
 
}



#textarea {
	text-align:right;
	width:108mm;
    height:14%;
  font-size:20px;
  font-weight:900;
   box-shadow: inset 2px 2px   white;
   margin-left:-1px;
    background-color:
    
        background: #e6effa; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiNlNmVmZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1OSUiIHN0b3AtY29sb3I9IiNmOWZjZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e6effa 35%, #f9fcf7 59%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#e6effa), color-stop(59%,#f9fcf7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e6effa 35%,#f9fcf7 59%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e6effa 35%,#f9fcf7 59%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e6effa 35%,#f9fcf7 59%); /* IE10+ */
background: linear-gradient(to bottom,  #e6effa 35%,#f9fcf7 59%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6effa', endColorstr='#f9fcf7',GradientType=0 ); /* IE6-8 */


}
.table1 {
    
   
     width:108mm;
      font-size:10px;
      font-weight:900;
      padding-bottom:5px;
    
  
     
}
    .table1 td {
        display:inline-block;
        height:2mm;
        margin:0;
        width:50px;
        text-align:center;
        padding:0;
    }

#textarea, .table1, .blue-light, wightborder, .lwhite {
     box-shadow:0 0 1px 1px white inset ;
}


.table2 {
    width: 110mm;
    margin-left: -2px;
}

.table2  input[type=button]{
	width:10mm;
	height:9mm;
}
.semple, .whiteborder {
    background-color:rgb(217,228,241);
}


.blue-light, p, p button{
        background: rgb(236,242,248); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOSUiIHN0b3AtY29sb3I9IiNlY2YyZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NCUiIHN0b3AtY29sb3I9IiNkNWUwZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(236,242,248,1) 39%, rgba(213,224,238,1) 44%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,rgba(236,242,248,1)), color-stop(44%,rgba(213,224,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(236,242,248,1) 39%,rgba(213,224,238,1) 44%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(236,242,248,1) 39%,rgba(213,224,238,1) 44%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(236,242,248,1) 39%,rgba(213,224,238,1) 44%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(236,242,248,1) 39%,rgba(213,224,238,1) 44%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf2f8', endColorstr='#d5e0ee',GradientType=0 ); /* IE6-8 */

}
.light {
        background: rgb(245,249,253); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNiUiIHN0b3AtY29sb3I9IiNmNWY5ZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlYWYxZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiNmNWY5ZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(245,249,253,1) 26%, rgba(234,241,248,1) 50%, rgba(245,249,253,1) 66%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,rgba(245,249,253,1)), color-stop(50%,rgba(234,241,248,1)), color-stop(66%,rgba(245,249,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,249,253,1) 26%,rgba(234,241,248,1) 50%,rgba(245,249,253,1) 66%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,249,253,1) 26%,rgba(234,241,248,1) 50%,rgba(245,249,253,1) 66%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,249,253,1) 26%,rgba(234,241,248,1) 50%,rgba(245,249,253,1) 66%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(245,249,253,1) 26%,rgba(234,241,248,1) 50%,rgba(245,249,253,1) 66%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9fd', endColorstr='#f5f9fd',GradientType=0 ); /* IE6-8 */

}
#col {
    width:23mm;
}

#rowspan{
    height:19mm;
}
.table2 input:hover, button:hover{
   background: rgb(255,168,76); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdiMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-8 */

    
}

#left {
   font-size:xx-small;
   font-weight:900;
 

}
.right {
    text-align:right;
}
p button {
text-decoration:none;
border-style:hidden;

}
#ccc {
    text-align:left;
}